body {
    background-color: #f0fff0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2e4328;
}

h2 {
    color: #800000;
}

h3 {
    color: #660000;
}

p {
     color: #191919;
}

a {
    color: #2e4328;
}

#azul {
    color: #800000;
}

#branco {
    color: #660000;
}

#vermelho {
    color: #2e4328;
}

#preto {
    color: #2e4328;
}